{
  "openapi": "3.0.0",
  "x-generator": "Dynamic OpenAPI Generator v1.0.0",
  "info": {
    "title": "bunny.net API",
    "description": "<img src='https://bunny.net/v2/images/bunnynet-logo-dark.svg' style='width: 200px;' alt='bunny.net Logo'>\n               Learn how to use the [bunny.net](https://bunny.net \"bunny.net - The content delivery platform that truly hops.\") API. Everything that can be done with the control panel can also be achieved with our API documented on this page. To learn how to use the storage API, have a look at our <a href='https://bunnycdnstorage.docs.apiary.io/#'>storage API documentation</a>\n               <h2>Third party API clients:</h2> \n               <br/>\n               We currently do not maintain an official API library, but you can use one of the third party ones provided here:<br/><br/>\n               <a rel='nofollow' href='https://github.com/codewithmark/bunnycdn'>https://github.com/codewithmark/bunnycdn</a> (bunny.net PHP library, thanks to <a rel=\"nofollow\" href='https://codewithmark.com'>Code With Mark</a>)\n               <br/><br/>\n               <i style='font-size: 11px;'><b>Note that third party clients are not maintained or developed by bunny.net so we unfortunately cannot offer support for them.</b></i>",
    "termsOfService": "https://bunny.net/tos",
    "contact": {
      "name": "bunny.net",
      "url": "https://docs.bunny.net",
      "email": "support@bunny.net"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bunny.net",
      "description": "bunny.net API Server"
    }
  ],
  "paths": {
    "/country": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get Country List",
        "operationId": "CountriesPublic_GetCountryList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The list of countries and tax rates",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryModel"
                  }
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "Subuser",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/dnszone": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "List DNS Zones",
        "operationId": "DnsZonePublic_Index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 5,
              "maximum": 1000,
              "default": 1000
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of DNS Zones on the account.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfDnsZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfDnsZoneModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Add DNS Zone",
        "operationId": "DnsZonePublic_Add",
        "parameters": [],
        "responses": {
          "201": {
            "description": "The DNS Zone was successfuly added"
          },
          "400": {
            "description": "Failed adding the DNS Zone. Model validation failed",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsZoneAddModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DnsZoneAddModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dnszone/{id}": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Get DNS Zone",
        "operationId": "DnsZonePublic_Index2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS Zone that will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Update DNS Zones",
        "operationId": "DnsZonePublic_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS Zone that will be updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsZoneModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsZoneModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Delete DNS Zone",
        "operationId": "DnsZonePublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The DNS Zone ID that will be deleted.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The DNS Zone was successfuly deleted."
          },
          "400": {
            "description": "Failed deleting the DNS Zone. See error response.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/dnszone/{id}/export": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Export",
        "operationId": "DnsZonePublic_Export",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/dnszone/checkavailability": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Check the DNS zone availability",
        "operationId": "DnsZonePublic_CheckAvailability",
        "parameters": [],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dnszone/{zoneId}/records/{id}": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Update DNS Record",
        "operationId": "DnsZonePublic_UpdateRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that contains the record.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS record that will be updated.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The DNS record was successfuly updated."
          },
          "400": {
            "description": "Failed updating the DNS record. Model validation failed.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The DNS Zone or DNS Record with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsRecordModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsRecordModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Delete DNS Record",
        "operationId": "DnsZonePublic_DeleteRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that contains the record.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS record that will be deleted.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The DNS record was successfuly deleted."
          },
          "400": {
            "description": "Failed deleting the DNS Record. See error response.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The DNS Zone or DNS Record with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/dnszone/{zoneId}/import": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Import DNS Records",
        "operationId": "DnsZonePublic_Import",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that should import the data.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The import operation has finished successfuly.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneImportResultModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneImportResultModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed importing data. See error response.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/dnszone/{zoneId}/records": {
      "put": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Add DNS Record",
        "operationId": "DnsZonePublic_AddRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID to which the record will be added.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "The DNS record was successfuly added.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed adding the DNS record. Model validation failed.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIDns",
              "SubuserAPIManage",
              "SubuserDns",
              "SubuserManage",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDnsRecordModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddDnsRecordModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "List Pull Zones",
        "operationId": "PullZonePublic_Index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 5,
              "maximum": 1000,
              "default": 1000
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "description": "Determines if the result hostnames should contain the SSL certificate",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all the pull zones on the account",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfPullZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfPullZoneModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Pull Zone",
        "operationId": "PullZonePublic_Add",
        "parameters": [],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneAddModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneAddModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get Pull Zone",
        "operationId": "PullZonePublic_Index2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "description": "Determines if the result hostnames should contain the SSL certificate",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Pull Zone with the requested ID",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Update Pull Zone",
        "operationId": "PullZonePublic_UpdatePullZone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The Pull Zone was successfuly updated",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneSettingsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneSettingsModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Delete Pull Zone",
        "operationId": "PullZonePublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be deleted",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The Pull Zone was successfully deleted"
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/pullzone/{pullZoneId}/originshield/queuestatistics": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get Origin Shield Queue Statistics",
        "operationId": "PullZonePublic_OriginShieldConcurrencyStatistics",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "(Optional) If set, the statistics will be only returned for the given Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 30 days will be returned.",
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, the last 30 days will be returned.",
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "(Optional) If true, the statistics data will be returned in hourly groupping.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OriginShieldConcurrencyStatisticsModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OriginShieldConcurrencyStatisticsModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/pullzone/{pullZoneId}/safehop/statistics": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get SafeHop Statistics",
        "operationId": "PullZonePublic_SafeHopStatistics",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "(Optional) If set, the statistics will be only returned for the given Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 30 days will be returned.",
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, the last 30 days will be returned.",
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "(Optional) If true, the statistics data will be returned in hourly groupping.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeHopStatisticsModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SafeHopStatisticsModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/pullzone/{pullZoneId}/optimizer/statistics": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get Optimizer Statistics",
        "operationId": "PullZonePublic_OptimizerStatistics",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "(Optional) If set, the statistics will be only returned for the given Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 30 days will be returned.",
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, the last 30 days will be returned.",
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "(Optional) If true, the statistics data will be returned in hourly groupping.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizerStatisticsModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizerStatisticsModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/pullzone/loadFreeCertificate": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Load Free Certificate",
        "operationId": "PullZonePublic_LoadFreeCertificate",
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "The hostame that the certificate will be loaded for",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The certificate was successfuly loaded"
          },
          "400": {
            "description": "Failed configuring the certificate",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/pullzone/{pullZoneId}/edgerules/addOrUpdate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add/Update Edge Rule",
        "operationId": "PullZonePublic_AddEdgeRule",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone where the Edge Rule will be created",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "The Edge Rule was successfuly added"
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EdgeRuleV2Model"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EdgeRuleV2Model"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{pullZoneId}/edgerules/{edgeRuleId}/setEdgeRuleEnabled": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Set Edge Rule Enabled",
        "operationId": "PullZonePublic_SetEdgeRuleEnabled",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone that contains the Edge Rule",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "description": "The ID of the Edge Rule that should be updated",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The Edge Rule was successfuly updated"
          },
          "400": {
            "description": "Failed configuring the Edge Rule. Model validation failed",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone or Edge Rule with the requested ID does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ToggleRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/purgeCache": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Purge Cache",
        "operationId": "PullZonePublic_PurgeCachePostByTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be cleared",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The cache was successfuly purged"
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZonePurgeModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PullZonePurgeModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/checkavailability": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Check the pull zone availability",
        "operationId": "PullZonePublic_CheckAvailability",
        "parameters": [],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Custom Certificate",
        "operationId": "PullZonePublic_AddCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The certificate was successfuly added"
          },
          "400": {
            "description": "Failed adding the certificate",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCertificateRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddCertificateRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addHostname": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Custom Hostname",
        "operationId": "PullZonePublic_AddHostname",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The hostname was successfully added"
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHostnameRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddHostnameRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/setForceSSL": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Set Force SSL",
        "operationId": "PullZonePublic_SetForceSSL",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Force SSL was successfully updated"
          },
          "400": {
            "description": "Failed to configure Force SSL",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceSSLRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ForceSSLRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/resetSecurityKey": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Reset Token Key",
        "operationId": "PullZonePublic_ResetSecurityKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The key was successfuly reset"
          },
          "400": {
            "description": "Failed to reset the security key",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/pullzone/{id}/addAllowedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Allowed Referer",
        "operationId": "PullZonePublic_AddAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly added"
          },
          "400": {
            "description": "Failed to configure allowed referer",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/removeAllowedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Allowed Referer",
        "operationId": "PullZonePublic_RemoveAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly removed"
          },
          "400": {
            "description": "Failed to remove allowed referer",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addBlockedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Blocked Referer",
        "operationId": "PullZonePublic_AddBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The blocked referer was successfuly added"
          },
          "400": {
            "description": "Failed to configure blocked referer",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/removeBlockedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Blocked Referer",
        "operationId": "PullZonePublic_RemoveBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The blocked referer was successfuly removed"
          },
          "400": {
            "description": "Failed to remove blocked referer",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addBlockedIp": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Blocked IP",
        "operationId": "PullZonePublic_AddBlockedIp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The blocked IP was successfuly added"
          },
          "400": {
            "description": "Failed to configure blocked IP",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedIpRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedIpRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/removeBlockedIp": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Blocked IP",
        "operationId": "PullZonePublic_RemoveBlockedIp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The blocked IP was successfuly removed"
          },
          "400": {
            "description": "Failed to remove blocked IP",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedIpRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedIpRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{pullZoneId}/edgerules/{edgeRuleId}": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Delete Edge Rule",
        "operationId": "PullZonePublic_DeleteEdgeRule",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone that contains the Edge Rule",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "description": "The ID of the Edge Rule that should be deleted",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The Edge Rule was successfuly deleted"
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone or Edge Rule with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/pullzone/{id}/removeCertificate": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Certificate",
        "operationId": "PullZonePublic_RemoveCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The certificate was successfuly removed"
          },
          "400": {
            "description": "Failed removing certificate",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCertificateRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCertificateRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/removeHostname": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Custom Hostname",
        "operationId": "PullZonePublic_RemoveHostname",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The hostname was successfully removed"
          },
          "400": {
            "description": "Failed removing hostname",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIPullZones",
              "SubuserManage",
              "SubuserPullZones",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHostnameRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHostnameRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/videolibrary": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "List Video Libraries",
        "operationId": "VideoLibraryPublic_Index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 5,
              "maximum": 1000,
              "default": 1000
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Video Libraries on the account",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfVideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfVideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIStream",
              "SubuserManage",
              "SubuserStream",
              "User",
              "UserApi"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Video Library",
        "operationId": "VideoLibraryPublic_Add",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The added video library",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add video library",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIStream",
              "SubuserManage",
              "SubuserStream",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryCreateModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryCreateModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/videolibrary/{id}": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Video Library",
        "operationId": "VideoLibraryPublic_Index2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Video Library that will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The requested video library",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIStream",
              "SubuserManage",
              "SubuserStream",
              "User",
              "UserApi"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Update Video Library",
        "operationId": "VideoLibraryPublic_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The requested video library has been successfuly deleted",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "The service is currently unavailable"
          }
        },
        "security": [
          {
            "AccessKey": [
              "SubuserAPIManage",
              "SubuserAPIStream",
              "SubuserManage",
              "SubuserStream",
              "User",
              "UserApi"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryUpdateModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryUpdateModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Video Library",
        "operationId": "VideoLibraryPublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Video Library that should be deleted",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The requested video library has been successfuly deleted",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
[...]
