{
  "openapi": "3.0.0",
  "x-generator": "Dynamic OpenAPI Generator v1.0.0",
  "info": {
    "title": "bunny.net API",
    "description": "<img src='https://bunny.net/v2/images/bunnynet-logo-dark.svg' style='width: 200px;' alt='bunny.net Logo'>\n               Learn how to use the [bunny.net](https://bunny.net \"bunny.net - The content delivery platform that truly hops.\") API. Everything that can be done with the control panel can also be achieved with our API documented on this page. To learn how to use the storage API, have a look at our <a href='https://bunnycdnstorage.docs.apiary.io/#'>storage API documentation</a>\n               <h2>Third party API clients:</h2> \n               <br/>\n               We currently do not maintain an official API library, but you can use one of the third party ones provided here:<br/><br/>\n               <a rel='nofollow' href='https://github.com/codewithmark/bunnycdn'>https://github.com/codewithmark/bunnycdn</a> (bunny.net PHP library, thanks to <a rel=\"nofollow\" href='https://codewithmark.com'>Code With Mark</a>)\n               <br/><br/>\n               <i style='font-size: 11px;'><b>Note that third party clients are not maintained or developed by bunny.net so we unfortunately cannot offer support for them.</b></i>",
    "termsOfService": "https://bunny.net/tos",
    "contact": {
      "name": "bunny.net",
      "url": "https://docs.bunny.net",
      "email": "support@bunny.net"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bunny.net",
      "description": "bunny.net API Server"
    }
  ],
  "paths": {
    "/pullzone": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "List Pull Zones",
        "operationId": "PullZonePublicController_Index_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all the pull zones on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Pull Zone",
        "operationId": "PullZonePublicController_Add_1",
        "parameters": [],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneAddModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneAddModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get Pull Zone",
        "operationId": "PullZonePublicController_Index_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The Pull Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Update Pull Zone",
        "operationId": "PullZonePublicController_UpdatePullZone_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The Pull Zone was successfuly updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneSettingsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneSettingsModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Delete Pull Zone",
        "operationId": "PullZonePublicController_Delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/pullzone/{pullZoneId}/originshield/queuestatistics": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get Origin Shield Queue Statistics",
        "operationId": "PullZonePublicController_OriginShieldConcurrencyStatistics_1",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "hourly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OriginShieldConcurrencyStatisticsModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OriginShieldConcurrencyStatisticsModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/pullzone/{pullZoneId}/safehop/statistics": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get SafeHop Statistics",
        "operationId": "PullZonePublicController_SafeHopStatistics_1",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "hourly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeHopStatisticsModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SafeHopStatisticsModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/pullzone/{pullZoneId}/optimizer/statistics": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get Optimizer Statistics",
        "operationId": "PullZonePublicController_OptimizerStatistics_1",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "hourly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizerStatisticsModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizerStatisticsModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/pullzone/loadFreeCertificate": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Load Free Certificate",
        "operationId": "PullZonePublicController_LoadFreeCertificate_1",
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed configuring the certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/pullzone/{pullZoneId}/edgerules/addOrUpdate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add/Update Edge Rule",
        "operationId": "PullZonePublicController_AddEdgeRule_1",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EdgeRuleV2Model"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EdgeRuleV2Model"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{pullZoneId}/edgerules/{edgeRuleId}/setEdgeRuleEnabled": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Set Edge Rule Enabled",
        "operationId": "PullZonePublicController_SetEdgeRuleEnabled_1",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed configuring the Edge Rule. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ToggleRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/purgeCache": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Purge Cache",
        "operationId": "PullZonePublicController_PurgeCachePostByTag_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZonePurgeModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PullZonePurgeModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/checkavailability": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Check the pull zone availability",
        "operationId": "PullZonePublicController_CheckAvailability_1",
        "parameters": [],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Custom Certificate",
        "operationId": "PullZonePublicController_AddCertificate_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed adding the certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCertificateRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddCertificateRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addHostname": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Custom Hostname",
        "operationId": "PullZonePublicController_AddHostnameAsync_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHostnameRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddHostnameRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/setForceSSL": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Set Force SSL",
        "operationId": "PullZonePublicController_SetForceSSL_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to configure Force SSL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceSSLRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ForceSSLRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/resetSecurityKey": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Reset Token Key",
        "operationId": "ResetSecurityKeyEndpoint_ResetSecurityKey_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to reset the security key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPullZoneSecurityKeyModel",
                "nullable": true
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ResetPullZoneSecurityKeyModel",
                "nullable": true
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addAllowedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Allowed Referer",
        "operationId": "PullZonePublicController_AddAllowedReferrer_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to configure allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/removeAllowedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Allowed Referer",
        "operationId": "PullZonePublicController_RemoveAllowedReferrer_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to remove allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addBlockedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Blocked Referer",
        "operationId": "PullZonePublicController_AddBlockedReferrer_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to configure blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/removeBlockedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Blocked Referer",
        "operationId": "PullZonePublicController_RemoveBlockedReferrer_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to remove blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/addBlockedIp": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Blocked IP",
        "operationId": "PullZonePublicController_AddBlockedIp_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to configure blocked IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedIpRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedIpRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/removeBlockedIp": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Blocked IP",
        "operationId": "PullZonePublicController_RemoveBlockedIp_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to remove blocked IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedIpRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedIpRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{pullZoneId}/edgerules/{edgeRuleId}": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Delete Edge Rule",
        "operationId": "PullZonePublicController_DeleteEdgeRule_1",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/pullzone/{id}/removeCertificate": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Certificate",
        "operationId": "PullZonePublicController_RemoveCertificate_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed removing certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCertificateRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCertificateRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/pullzone/{id}/removeHostname": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Custom Hostname",
        "operationId": "PullZonePublicController_RemoveHostname_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHostnameRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHostnameRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/country": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get Country List",
        "operationId": "CountriesPublicController_GetCountryList_1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The list of countries and tax rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/dnszone": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "List DNS Zones",
        "operationId": "DnsZonePublicController_Index_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The list of DNS Zones on the account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Add DNS Zone",
        "operationId": "DnsZonePublicController_AddAsync_1",
        "parameters": [],
        "responses": {
          "400": {
            "description": "Failed adding the DNS Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsZoneAddModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DnsZoneAddModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dnszone/{id}": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Get DNS Zone",
        "operationId": "DnsZonePublicController_Index_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Update DNS Zones",
        "operationId": "DnsZonePublicController_Update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsZoneModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsZoneModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Delete DNS Zone",
        "operationId": "DnsZonePublicController_DeleteAsync_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed deleting the DNS Zone. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/dnszone/{id}/export": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Export",
        "operationId": "DnsZonePublicController_Export_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/dnszone/checkavailability": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Check the DNS zone availability",
        "operationId": "DnsZonePublicController_CheckAvailability_1",
        "parameters": [],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dnszone/{zoneId}/records/{id}": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Update DNS Record",
        "operationId": "DnsZonePublicController_UpdateRecord_1",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed updating the DNS record. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsRecordModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsRecordModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Delete DNS Record",
        "operationId": "DnsZonePublicController_DeleteRecord_1",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed deleting the DNS Record. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/dnszone/{zoneId}/import": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Import DNS Records",
        "operationId": "DnsZonePublicController_Import_1",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The import operation has finished successfuly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.DnsZoneImportResultModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.DnsZoneImportResultModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed importing data. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/dnszone/{zoneId}/records": {
      "put": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Add DNS Record",
        "operationId": "DnsZonePublicController_AddRecord_1",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "The DNS record was successfuly added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.DnsRecordModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.DnsRecordModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed adding the DNS record. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDnsRecordModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddDnsRecordModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/region": {
      "get": {
        "tags": [
          "Region"
        ],
        "summary": "Region list",
        "operationId": "RegionPublicController_Index_1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the list of region codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/videolibrary": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "List Video Libraries",
        "operationId": "VideoLibraryPublicController_Index_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Video Libraries on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Video Library",
        "operationId": "VideoLibraryPublicController_Add_1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The added video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryCreateModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryCreateModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/videolibrary/{id}": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Video Library",
        "operationId": "VideoLibraryPublicController_Index_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The requested video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Update Video Library",
        "operationId": "VideoLibraryPublicController_Update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "The requested video library has been successfuly deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryUpdateModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryUpdateModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Video Library",
        "operationId": "VideoLibraryPublicController_DeleteAsync_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "The requested video library has been successfuly deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/videolibrary/languages": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Languages",
        "operationId": "VideoLibraryPublicController_Index_5",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of language information objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/videolibrary/resetApiKey": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Reset Password",
        "operationId": "VideoLibraryPublicController_ResetPassword_2",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/videolibrary/{id}/resetApiKey": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Reset Password",
        "operationId": "VideoLibraryPublicController_ResetPassword_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/videolibrary/{id}/addAllowedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Allowed Referer",
        "operationId": "VideoLibraryPublicController_AddAllowedReferrer_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to add allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/videolibrary/{id}/removeAllowedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Remove Allowed Referer",
        "operationId": "VideoLibraryPublicController_RemoveAllowedReferrer_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/videolibrary/{id}/addBlockedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Blocked Referer",
        "operationId": "VideoLibraryPublicController_AddBlockedReferrer_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed to remove allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/videolibrary/{id}/removeBlockedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Remove Blocked Referer",
        "operationId": "VideoLibraryPublicController_RemoveBlockedReferrer_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedReferrerRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedReferrerRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/videolibrary/{id}/watermark": {
      "put": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Watermark",
        "operationId": "VideoLibraryPublicController_AddWatermark_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Watermark",
        "operationId": "VideoLibraryPublicController_DeleteWatermark_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "The watermark has been successfuly deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/purge": {
      "post": {
        "tags": [
          "Purge"
        ],
        "summary": "Purge URL",
        "operationId": "PurgePublicController_IndexPostAsync_1",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/storagezone": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "List Storage Zones",
        "operationId": "StorageZonePublicController_Index_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The list of storage zones on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Add Storage Zone",
        "operationId": "StorageZonePublicController_AddAsync_1",
        "parameters": [],
        "responses": {
          "201": {
            "description": "The storage zone that was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed adding the Storage Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneModelAdd"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneModelAdd"
              }
            }
          },
          "required": true
        }
      }
    },
    "/storagezone/{id}": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Get Storage Zone",
        "operationId": "StorageZonePublicController_Index_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The Storage Zone with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Update Storage Zone",
        "operationId": "StorageZonePublicController_Update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BunnyCDN.Api.Client.ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneSettingsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneSettingsModel"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Delete Storage Zone",
        "operationId": "StorageZonePublicController_DeleteAsync_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "deleteLinkedPullZones",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/storagezone/checkavailability": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Check the storage zone availability",
        "operationId": "StorageZonePublicController_CheckAvailability_1",
        "parameters": [],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true
        }
      }
    },
    "/storagezone/{id}/resetPassword": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Reset Password",
        "operationId": "StorageZonePublicController_ResetPassword_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/storagezone/resetReadOnlyPassword": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Reset Read-Only Password",
        "operationId": "StorageZonePublicController_ResetReadOnlyPassword_1",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        ],
        "responses": {
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/statistics": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Get Statistics",
        "operationId": "StatisticsPublicController_GetStatistics_1",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "pullZone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "serverZoneId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "loadErrors",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "hourly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "loadOriginResponseTimes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "loadOriginTraffic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "loadRequestsServed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "loadBandwidthUsed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "loadOriginShieldBandwidth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "loadGeographicTrafficDistribution",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "loadUserBalanceHistory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/storagezone/{id}/statistics": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Get Storage Zone Statistics",
        "operationId": "GetStoragezoneStatisticsEndpoint_StorageZoneStatistics_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneStatisticsModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneStatisticsModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/apikey": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API Keys",
        "operationId": "ApiKeyPublicController_GetApiKeysByAccountEndpoint_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all API keys on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ]
      }
    },
    "/videolibrary/{id}/drm/statistics": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Video Library DRM Statistics",
        "operationId": "GetDrmStatisticsEndpoint_Statistics_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
[...]
