{
  "openapi": "3.0.1",
  "info": {
    "title": "Bunny Shield API",
    "description": "Bunny.net API for Bunny Shield (WAF, DDoS, Rate Limiting).",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.bunny.net"
    }
  ],
  "paths": {
    "/shield/ddos/enums": {
      "get": {
        "tags": [
          "DDoS"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEnumsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEnumsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEnumsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/event-logs/{shieldZoneId}/{date}/{continuationToken}": {
      "get": {
        "tags": [
          "EventLogs"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continuationToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WafLoggingResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WafLoggingResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WafLoggingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/metrics/overview/{shieldZoneId}": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneMetricsOverviewResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneMetricsOverviewResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneMetricsOverviewResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/metrics/rate-limits/{shieldZoneId}": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneRatelimitMetricsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneRatelimitMetricsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneRatelimitMetricsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/metrics/rate-limit/{id}": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetRatelimitMetricsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRatelimitMetricsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRatelimitMetricsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/metrics/shield-zone/{shieldZoneId}/waf-rule/{ruleId}": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafRuleMetricsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafRuleMetricsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafRuleMetricsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/rate-limits/{shieldZoneId}": {
      "get": {
        "tags": [
          "RateLimits"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomWafRulesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomWafRulesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomWafRulesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/rate-limit/{id}": {
      "get": {
        "tags": [
          "RateLimits"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "RateLimits"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWafRateLimitRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWafRateLimitRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWafRateLimitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitRule"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "RateLimits"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenericRequestResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericRequestResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/rate-limit": {
      "post": {
        "tags": [
          "RateLimits"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWafRateLimitRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWafRateLimitRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWafRateLimitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitRule"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/shield-zones": {
      "get": {
        "tags": [
          "ShieldZone"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZonesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZonesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZonesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/shield-zone/{shieldZoneId}": {
      "get": {
        "tags": [
          "ShieldZone"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/shield-zone/get-by-pullzone/{pullZoneId}": {
      "get": {
        "tags": [
          "ShieldZone"
        ],
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShieldZoneResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/shield-zone": {
      "post": {
        "tags": [
          "ShieldZone"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShieldZoneRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShieldZoneRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShieldZoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "ShieldZone"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShieldZoneRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShieldZoneRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShieldZoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateShieldZoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateShieldZoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateShieldZoneResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShieldZoneResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/rules": {
      "get": {
        "tags": [
          "Waf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WafRuleMainGroupModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WafRuleMainGroupModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WafRuleMainGroupModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/rules/review-triggered/{shieldZoneId}": {
      "get": {
        "tags": [
          "Waf"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetTriggeredRulesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTriggeredRulesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTriggeredRulesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Waf"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReviewTriggeredRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReviewTriggeredRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReviewTriggeredRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateReviewTriggeredRuleResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateReviewTriggeredRuleResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateReviewTriggeredRuleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/rules/review-triggered/ai-recommendation/{shieldZoneId}/{ruleId}": {
      "get": {
        "tags": [
          "Waf"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TriggeredRuleRecommendationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggeredRuleRecommendationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggeredRuleRecommendationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/custom-rules/{shieldZoneId}": {
      "get": {
        "tags": [
          "Waf"
        ],
        "parameters": [
          {
            "name": "shieldZoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomWafRulesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomWafRulesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomWafRulesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/custom-rule/{id}": {
      "get": {
        "tags": [
          "Waf"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Waf"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomWafRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomWafRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomWafRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Waf"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomWafRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomWafRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomWafRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Waf"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenericRequestResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericRequestResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericRequestResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/custom-rule": {
      "post": {
        "tags": [
          "Waf"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomWafRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomWafRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomWafRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWafRule"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/profiles": {
      "get": {
        "tags": [
          "Waf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafProfilesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafProfilesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafProfilesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/enums": {
      "get": {
        "tags": [
          "Waf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEnumsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEnumsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEnumsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/shield/waf/engine-config": {
      "get": {
        "tags": [
          "Waf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEngineConfigResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEngineConfigResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWafEngineConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AcceptedResult": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "nullable": true
          },
          "formatters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IOutputFormatter"
            },
            "nullable": true
          },
          "contentTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "declaredType": {
            "type": "string",
            "nullable": true
          },
          "statusCode": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ConfigVariableValueMinimal": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "valueEncoded": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateCustomWafRuleModel": {
        "type": "object",
        "properties": {
          "actionType": {
            "$ref": "#/components/schemas/WafRuleActionType"
          },
          "variableTypes": {
            "type": "object",
            "properties": {
              "REQUEST_URI": {
                "type": "string"
              },
              "REQUEST_URI_RAW": {
                "type": "string"
              },
              "ARGS": {
                "type": "string"
              },
              "ARGS_COMBINED_SIZE": {
                "type": "string"
              },
              "ARGS_GET": {
                "type": "string"
              },
              "ARGS_GET_NAMES": {
                "type": "string"
              },
              "ARGS_POST": {
                "type": "string"
              },
              "ARGS_POST_NAMES": {
                "type": "string"
              },
              "FILES_NAMES": {
                "type": "string"
              },
              "GEO": {
                "type": "string"
              },
              "REMOTE_ADDR": {
                "type": "string"
              },
              "QUERY_STRING": {
                "type": "string"
              },
              "REQUEST_BASENAME": {
                "type": "string"
              },
              "REQUEST_BODY": {
                "type": "string"
              },
              "REQUEST_COOKIES_NAMES": {
                "type": "string"
              },
              "REQUEST_COOKIES": {
                "type": "string"
              },
              "REQUEST_FILENAME": {
                "type": "string"
              },
              "REQUEST_HEADERS_NAMES": {
                "type": "string"
              },
              "REQUEST_HEADERS": {
                "type": "string"
              },
              "REQUEST_LINE": {
                "type": "string"
              },
              "REQUEST_METHOD": {
                "type": "string"
              },
              "REQUEST_PROTOCOL": {
                "type": "string"
              },
              "RESPONSE_BODY": {
                "type": "string"
              },
              "RESPONSE_HEADERS": {
                "type": "string"
              },
              "RESPONSE_STATUS": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "nullable": true
          },
          "operatorType": {
            "$ref": "#/components/schemas/WafRuleOperatorType"
          },
          "severityType": {
            "$ref": "#/components/schemas/WafRuleSeverityType"
          },
          "transformationTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WafRuleTransformationType"
            },
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateCustomWafRuleRequest": {
        "type": "object",
        "properties": {
          "shieldZoneId": {
            "type": "integer",
            "format": "int64"
          },
          "ruleName": {
            "type": "string",
            "nullable": true
          },
          "ruleDescription": {
            "type": "string",
            "nullable": true
          },
          "ruleConfiguration": {
            "$ref": "#/components/schemas/CreateCustomWafRuleModel"
          }
        },
        "additionalProperties": false
      },
      "CreateShieldZoneRequest": {
        "required": [
          "pullZoneId"
        ],
        "type": "object",
        "properties": {
          "shieldZone": {
            "$ref": "#/components/schemas/ShieldZoneRequest"
          },
          "pullZoneId": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "CreateShieldZoneResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CreateShieldZoneRequest"
          },
          "error": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "CreateWafRateLimitRequest": {
        "type": "object",
        "properties": {
          "shieldZoneId": {
            "type": "integer",
            "format": "int64"
          },
          "ruleName": {
            "type": "string",
            "nullable": true
          },
          "ruleDescription": {
            "type": "string",
            "nullable": true
          },
          "ruleConfiguration": {
            "$ref": "#/components/schemas/CreateWafRateLimitRuleModel"
          }
        },
        "additionalProperties": false
      },
      "CreateWafRateLimitRuleModel": {
        "type": "object",
        "properties": {
          "actionType": {
            "$ref": "#/components/schemas/RatelimitRuleActionType"
          },
          "variableTypes": {
            "type": "object",
            "properties": {
              "REQUEST_URI": {
                "type": "string"
              },
              "REQUEST_URI_RAW": {
                "type": "string"
              },
              "ARGS": {
                "type": "string"
              },
              "ARGS_COMBINED_SIZE": {
                "type": "string"
              },
              "ARGS_GET": {
                "type": "string"
              },
              "ARGS_GET_NAMES": {
                "type": "string"
              },
              "ARGS_POST": {
                "type": "string"
              },
              "ARGS_POST_NAMES": {
                "type": "string"
              },
              "FILES_NAMES": {
                "type": "string"
              },
              "GEO": {
                "type": "string"
              },
              "REMOTE_ADDR": {
                "type": "string"
              },
              "QUERY_STRING": {
                "type": "string"
              },
              "REQUEST_BASENAME": {
                "type": "string"
              },
              "REQUEST_BODY": {
                "type": "string"
              },
              "REQUEST_COOKIES_NAMES": {
                "type": "string"
              },
              "REQUEST_COOKIES": {
                "type": "string"
              },
              "REQUEST_FILENAME": {
                "type": "string"
              },
              "REQUEST_HEADERS_NAMES": {
                "type": "string"
              },
              "REQUEST_HEADERS": {
                "type": "string"
              },
              "REQUEST_LINE": {
                "type": "string"
              },
              "REQUEST_METHOD": {
                "type": "string"
              },
              "REQUEST_PROTOCOL": {
                "type": "string"
              },
              "RESPONSE_BODY": {
                "type": "string"
              },
              "RESPONSE_HEADERS": {
                "type": "string"
              },
              "RESPONSE_STATUS": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "nullable": true
          },
          "operatorType": {
            "$ref": "#/components/schemas/WafRuleOperatorType"
          },
          "severityType": {
            "$ref": "#/components/schemas/WafRuleSeverityType"
          },
          "transformationTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WafRuleTransformationType"
            },
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "requestCount": {
            "type": "integer",
            "format": "int32"
          },
          "timeframe": {
            "$ref": "#/components/schemas/WafRateLimitTimeframeType"
          },
          "blockTime": {
            "$ref": "#/components/schemas/WafRatelimitBlockType"
          }
        },
        "additionalProperties": false
      },
      "CustomWafRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "shieldZoneId": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string",
            "nullable": true
          },
          "ruleName": {
            "type": "string",
            "nullable": true
          },
          "ruleDescription": {
            "type": "string",
            "nullable": true
          },
          "ruleJson": {
            "type": "string",
            "nullable": true
          },
          "ruleConfiguration": {
            "$ref": "#/components/schemas/CreateCustomWafRuleModel"
          },
          "errorResponse": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "DDoS": {
        "type": "object",
        "properties": {
          "loggedRequests": {
            "type": "integer",
            "format": "int32"
          },
          "verifiedRequests": {
            "type": "integer",
            "format": "int32"
          },
          "blockedRequests": {
            "type": "integer",
            "format": "int32"
          },
          "challengedRequests": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "DDoSExecutionMode": {
        "enum": [
          0,
          1
        ],
        "type": "integer",
        "format": "int32"
      },
      "DDoSShieldSensitivity": {
        "enum": [
          0,
          1,
          2,
          3,
          4
        ],
        "type": "integer",
        "format": "int32"
      },
      "GenericRequestResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "errorKey": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetCustomWafRulesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomWafRule"
            },
            "nullable": true
          },
          "page": {
            "$ref": "#/components/schemas/PaginationResponse"
          },
          "error": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "GetRatelimitMetricsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/RatelimitMetrics"
          },
          "error": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "GetShieldZoneMetricsOverviewResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ShieldZoneMetrics"
          },
          "error": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "GetShieldZoneRatelimitMetricsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShieldZoneRatelimitMetrics"
            },
            "nullable": true
          },
          "error": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "GetShieldZoneResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ShieldZoneResponse"
          }
        },
        "additionalProperties": false
      },
      "GetShieldZonesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShieldZoneResponse"
            },
            "nullable": true
          },
          "page": {
            "$ref": "#/components/schemas/PaginationResponse"
          }
        },
        "additionalProperties": false
      },
      "GetTriggeredRulesResponse": {
        "type": "object",
        "properties": {
          "errorResponse": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          },
          "triggeredRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TriggeredRuleItem"
            },
            "nullable": true
          },
          "totalTriggeredRules": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "GetWafEngineConfigResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigVariableValueMinimal"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetWafEnumsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WafMappedEnumList"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetWafProfilesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/WafProfileMinimal"
              }
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetWafRuleMetricsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/WafRuleMetrics"
          },
          "error": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "HttpStatusCode": {
        "enum": [
          100,
          101,
          102,
          103,
          200,
          201,
          202,
          203,
          204,
          205,
          206,
          207,
          208,
          226,
          300,
          301,
          302,
          303,
          304,
          305,
          306,
          307,
          308,
          400,
          401,
          402,
          403,
          404,
          405,
          406,
          407,
          408,
          409,
          410,
          411,
          412,
          413,
          414,
          415,
          416,
          417,
          421,
          422,
          423,
          424,
          426,
          428,
          429,
          431,
          451,
          500,
          501,
          502,
          503,
          504,
          505,
          506,
          507,
          508,
          510,
          511
        ],
        "type": "integer",
        "format": "int32"
      },
      "IOutputFormatter": {
        "type": "object",
        "additionalProperties": false
      },
      "IndividualRatelimit": {
        "type": "object",
        "properties": {
          "totalBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "loggedBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "challengedBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "blockedBreaches": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Labels": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "ruleId": {
            "type": "string",
            "nullable": true
          },
          "severity": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string",
            "nullable": true
          },
          "ruleGroup": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "serverZone": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Log": {
        "type": "object",
        "properties": {
          "logId": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "log": {
            "type": "string",
            "nullable": true
          },
          "labels": {
            "$ref": "#/components/schemas/Labels"
          }
        },
        "additionalProperties": false
      },
      "PaginationResponse": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "currentPage": {
            "type": "integer",
            "format": "int32"
          },
          "nextPage": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "PullZoneWafConfigVariableModel": {
        "required": [
          "name",
          "valueEncoded"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "valueEncoded": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RateLimitRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "shieldZoneId": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string",
            "nullable": true
          },
          "ruleName": {
            "type": "string",
            "nullable": true
          },
          "ruleDescription": {
            "type": "string",
            "nullable": true
          },
          "ruleJson": {
            "type": "string",
            "nullable": true
          },
          "ruleConfiguration": {
            "$ref": "#/components/schemas/CreateWafRateLimitRuleModel"
          },
          "errorResponse": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "Ratelimit": {
        "type": "object",
        "properties": {
          "totalBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "loggedBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "challengedBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "blockedBreaches": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "RatelimitMetrics": {
        "type": "object",
        "properties": {
          "overview": {
            "$ref": "#/components/schemas/IndividualRatelimit"
          },
          "ratelimitOverviewPastTwentyEightDays": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/IndividualRatelimit"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RatelimitRuleActionType": {
        "enum": [
          1
        ],
        "type": "integer",
        "format": "int32"
      },
      "ReviewActionType": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "format": "int32"
      },
      "ShieldOverview": {
        "type": "object",
        "properties": {
          "dDoSMitigated": {
            "type": "integer",
            "format": "int32"
          },
          "wafTriggeredRules": {
            "type": "integer",
            "format": "int32"
          },
          "ratelimitBreaches": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ShieldPlanType": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "format": "int32"
      },
      "ShieldZoneMetrics": {
        "type": "object",
        "properties": {
          "overview": {
            "$ref": "#/components/schemas/ShieldOverview"
          },
          "waf": {
            "$ref": "#/components/schemas/Waf"
          },
          "overviewPastTwentyEightDays": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ShieldOverview"
            },
            "nullable": true
          },
          "dDoS": {
            "$ref": "#/components/schemas/DDoS"
          },
          "dDoSOverviewPastTwentyEightDays": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DDoS"
            },
            "nullable": true
          },
          "ratelimit": {
            "$ref": "#/components/schemas/Ratelimit"
          },
          "ratelimitOverviewPastTwentyEightDays": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Ratelimit"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ShieldZoneRatelimit": {
        "type": "object",
        "properties": {
          "totalBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "loggedBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "challengedBreaches": {
            "type": "integer",
            "format": "int32"
          },
          "blockedBreaches": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ShieldZoneRatelimitMetrics": {
        "type": "object",
        "properties": {
          "ratelimitId": {
            "type": "integer",
            "format": "int64"
          },
          "overview": {
            "$ref": "#/components/schemas/ShieldZoneRatelimit"
          },
          "ratelimitOverviewPastTwentyEightDays": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ShieldZoneRatelimit"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ShieldZoneRequest": {
        "type": "object",
        "properties": {
          "shieldZoneId": {
            "type": "integer",
            "format": "int64"
          },
          "premiumPlan": {
            "type": "boolean",
            "nullable": true
          },
          "learningMode": {
            "type": "boolean",
            "nullable": true
          },
          "learningModeUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "wafEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "wafExecutionMode": {
            "$ref": "#/components/schemas/WAFExecutionMode"
          },
          "wafDisabledRules": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "wafLogOnlyRules": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "wafRequestHeaderLoggingEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "wafRequestIgnoredHeaders": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "wafRealtimeThreatIntelligenceEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "wafProfileId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "wafEngineConfig": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PullZoneWafConfigVariableModel"
            },
            "nullable": true
          },
          "dDoSShieldSensitivity": {
            "$ref": "#/components/schemas/DDoSShieldSensitivity"
          },
          "dDoSExecutionMode": {
            "$ref": "#/components/schemas/DDoSExecutionMode"
          },
          "dDoSChallengeWindow": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "blockVpn": {
            "type": "boolean",
            "nullable": true
          },
          "blockTor": {
            "type": "boolean",
            "nullable": true
          },
          "blockDatacentre": {
            "type": "boolean",
            "nullable": true
          },
          "whitelabelResponsePages": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ShieldZoneResponse": {
        "type": "object",
        "properties": {
          "shieldZoneId": {
            "type": "integer",
            "format": "int64"
          },
          "pullZoneId": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "learningMode": {
            "type": "boolean",
            "nullable": true
          },
          "learningModeUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "wafEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "wafExecutionMode": {
            "$ref": "#/components/schemas/WAFExecutionMode"
          },
          "wafDisabledRules": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "wafLogOnlyRules": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "wafRequestHeaderLoggingEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "wafRequestIgnoredHeaders": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "wafRealtimeThreatIntelligenceEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "wafProfileId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "wafEngineConfig": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PullZoneWafConfigVariableModel"
            },
            "nullable": true
          },
          "rateLimitRulesLimit": {
            "type": "integer",
            "format": "int32"
          },
          "customWafRulesLimit": {
            "type": "integer",
            "format": "int32"
          },
          "planType": {
            "$ref": "#/components/schemas/ShieldPlanType"
          },
          "dDoSShieldSensitivity": {
            "$ref": "#/components/schemas/DDoSShieldSensitivity"
          },
          "dDoSExecutionMode": {
            "$ref": "#/components/schemas/DDoSExecutionMode"
          },
          "dDoSChallengeWindow": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "blockVpn": {
            "type": "boolean",
            "nullable": true
          },
          "blockTor": {
            "type": "boolean",
            "nullable": true
          },
          "blockDatacentre": {
            "type": "boolean",
            "nullable": true
          },
          "whitelabelResponsePages": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TriggeredRuleItem": {
        "type": "object",
        "properties": {
          "ruleId": {
            "type": "string",
            "nullable": true
          },
          "ruleDescription": {
            "type": "string",
            "nullable": true
          },
          "topTargetedUrls": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "totalTriggeredRequests": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "ruleLogs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Log"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TriggeredRuleRecommendationResponse": {
        "type": "object",
        "properties": {
          "shieldZoneId": {
            "type": "integer",
            "format": "int64"
          },
          "ruleId": {
            "type": "string",
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "recommendation": {
            "type": "string",
            "nullable": true
          },
          "errorResponse": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "UnauthorizedResult": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "UpdateCustomWafRuleRequest": {
        "type": "object",
        "properties": {
          "ruleName": {
            "type": "string",
            "nullable": true
          },
          "ruleDescription": {
            "type": "string",
            "nullable": true
          },
          "ruleConfiguration": {
            "$ref": "#/components/schemas/CreateCustomWafRuleModel"
          }
        },
        "additionalProperties": false
      },
      "UpdateReviewTriggeredRuleRequest": {
        "type": "object",
        "properties": {
          "ruleId": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "$ref": "#/components/schemas/ReviewActionType"
          }
        },
        "additionalProperties": false
      },
      "UpdateReviewTriggeredRuleResponse": {
        "type": "object",
        "properties": {
          "errorResponse": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          },
          "success": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UpdateShieldZoneRequest": {
        "required": [
          "shieldZoneId"
        ],
        "type": "object",
        "properties": {
          "shieldZone": {
            "$ref": "#/components/schemas/ShieldZoneRequest"
          },
          "shieldZoneId": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "UpdateShieldZoneResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UpdateShieldZoneRequest"
          },
          "error": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "UpdateWafRateLimitRequest": {
        "type": "object",
        "properties": {
          "ruleName": {
            "type": "string",
            "nullable": true
          },
          "ruleDescription": {
            "type": "string",
            "nullable": true
          },
          "ruleConfiguration": {
            "$ref": "#/components/schemas/CreateWafRateLimitRuleModel"
          }
        },
        "additionalProperties": false
      },
      "WAFExecutionMode": {
        "enum": [
          0,
          1
        ],
        "type": "integer",
        "format": "int32"
      },
      "Waf": {
        "type": "object",
        "properties": {
          "totalTriggeredRules": {
            "type": "integer",
            "format": "int32"
          },
          "blockedRequests": {
            "type": "integer",
            "format": "int32"
          },
          "loggedRequests": {
            "type": "integer",
            "format": "int32"
          },
          "challengedRequests": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "WafLoggingResponse": {
        "type": "object",
        "properties": {
          "logs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Log"
            },
            "nullable": true
          },
          "hasMoreData": {
            "type": "boolean"
          },
          "continuationToken": {
            "type": "string",
            "nullable": true
          },
          "startToken": {
            "type": "string",
            "nullable": true
          },
          "errorResponse": {
            "$ref": "#/components/schemas/GenericRequestResponse"
          }
        },
        "additionalProperties": false
      },
      "WafMappedEnum": {
        "type": "object",
        "properties": {
          "optionalInput": {
            "type": "boolean",
            "nullable": true
          },
          "isPremium": {
            "type": "boolean"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "WafMappedEnumList": {
        "type": "object",
        "properties": {
          "enumName": {
            "type": "string",
            "nullable": true
          },
          "enumValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WafMappedEnum"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "WafProfileMinimal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isPremium": {
            "type": "boolean"
          },
          "profileCategory": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "features": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "WafRateLimitTimeframeType": {
        "enum": [
          1,
          10
        ],
        "type": "integer",
        "format": "int32"
      },
      "WafRatelimitBlockType": {
        "enum": [
          30,
          60,
          300,
          900,
          1800,
          3600
        ],
        "type": "integer",
[...]
